:root {
    --cor-primaria: #0D0D87;
    --cor-de-fundo: #e0e0e0;
}

div {
    flex-direction: row;
    display: flex;
    height: 500px;
    width: 100%;
}

.div1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.div2 {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.divisao {
    align-items: center;
}

.carro {
    width: 70%;
    justify-content: space-around;
    margin-top: 7%;
}

.logo {
    margin-top: 15%;
    width: 50%;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    align-items: center;
    text-align: center;
    font-size: 21px;
}